@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.blog-card {
    width: 340px;
    height: 360px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.blog-card:hover {
    background-color: #D3D3D3;
}

.blog-image {
    display: block;
    width: 100%;
    border-radius: 5px;
    margin: 0 auto;
}

.blog-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    margin: 0 0.6em 0 0.6em;
}

.blog-date {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: .8em;
    margin-left: 1em;
}