@import url('./body.css');

a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin: .5em;
}

li {
    margin: .5em;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

#cards {
    margin: 0 auto;
    max-width: 95%;
    width: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width: 425px) {
    #menu-list {
        flex-direction: column;
    }

    #cards {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}