@import url('./body.css');

.content {
    margin: 0 auto;
    max-width: 95%;
    width: 750px;
}

p > a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    margin: unset;
    text-decoration: underline;
}

img {
    display: block;
    max-width: 100%;
    width: 750px;
    margin: 1em auto 1em auto;
}

h2 {
     font-size: 3em;
     font-family: 'Poppins', sans-serif;
     text-transform: uppercase;
}

li, p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}