<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Name Games Blog</title>
    <link rel="icon" type="image/svg+xml" href="/assets/images/nng.svg" />
    <link rel="stylesheet"  href="/css/main.css" />
    <link rel="stylesheet" href="/css/card.css" />
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1MPVCDFLBM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1MPVCDFLBM');
</script>
<body>
{% include "menu.html" %}
<section id="cards">
         {% for post in collections.posts | reverse %}
            <article class="blog-card">
                <a href="{{ post.url }}" class=""><img class="blog-image" src="{{ post.data.coverImage }}" alt="" srcset=""></a>
                    <p class="blog-text">{{ post.data.blurb }}</p>
                    <p class="blog-date">Posted on {{ post.data.date.toLocaleDateString('en-US') }}
            </article>
         {%endfor %}
</body>
</html>